<section class="mainbar">

  <div class="panel panel-primary">
    <div class="panel-heading">
      Position List
    </div>
    <div class="panel-body">

      <div class="pull-right">
        <a type="button" class="btn btn-success" href="/position/create">
          <i class="glyphicon glyphicon-plus"></i> New Position
        </a>
      </div>

      <table ng-table="vm.tableParams" show-filter="true" class="table table-condensed table-striped">
          <tr ng-repeat="position in $data">

              <td data-title="'Id'" sortable="'id'" filter="{ 'id': 'text' }">{{trade.id}}</td>
              <td data-title="'Quantity'" sortable="'quantity'" filter="{'quantity': 'text'}">{{trade.quantity}}</td>
              <td data-title="'Price'" sortable="'price'" filter="{'price': 'text'}">{{trade.price}}</td>
              <td data-title="'Ticker'" sortable="'security_ticker'" filter="{'security_ticker': 'text'}">{{trade.security_ticker}}</td>
			  <td data-title="'Team Name'" sortable="'team_name'" filter="{'team_name': 'text'}">{{trade.team_name}}</td>
              
              <td>
                 <div class="table-actions">
                      <a class="btn btn-default" title="View" href="/position/{{position.id}}">
                        <span class="glyphicon glyphicon-file"></span>
                      </a>
                      <a class="btn btn-default" title="Edit" href="/position/{{position.id}}/edit">
                        <span class="glyphicon glyphicon-pencil"></span>
                      </a>
                      <a class="btn btn-danger" title="Remove" ng-really-message="Are you sure ?" ng-really-click="vm.remove(position)" item="position">
                        <span class="glyphicon glyphicon-trash"></span>
                      </a>
                  </div>
              </td>
          </tr>
      </table>

    </div>
  </div>

</section>
