<section class="mainbar">

  <div class="panel panel-primary">
    <div class="panel-heading">
      Position List
    </div>
    <div class="panel-body">

      <table ng-table="vm.tableParams" show-filter="true" class="table table-condensed table-striped">
          <tr ng-repeat="position in $data">
           
          	<td data-title="'Id'" sortable="'id'" filter="{ 'id': 'text' }">{{position.id}}</td>
           
          	<td data-title="'Ticker'" sortable="'ticker'" filter="{ 'ticker': 'text' }">{{position.ticker}}</td>
            
          	<td data-title="'Quantity'" sortable="'quantity'" filter="{ 'quantity': 'text' }">{{position.quantity}}</td>
           
          	<td data-title="'Average_price'" sortable="'average_price'" filter="{ 'average_price': 'text' }">{{position.average_price}}</td>
           
          	<td data-title="'Pnl'" sortable="'pnl'" filter="{ 'pnl': 'text' }">{{position.pnl}}</td>
           
          	<td data-title="'Updated_at'" sortable="'updated_at'" filter="{ 'updated_at': 'text' }">{{position.updated_at}}</td>
          
   
              <td>
                 <div class="table-actions">
                      <a class="btn btn-default" title="View" ui-sref="app.viewPosition({positionId: position.id})">
                        <span class="glyphicon glyphicon-file"></span>
                      </a>
                  </div>
              </td>
          </tr>
      </table>

    </div>
  </div>

</section>
