<div class="row">
	<div class="col-lg-12">
      <div class="jumbotron">
         <h1>Next Steps</h1>
         <p>
         	Please check your inbox for a confirmation email we have sent you and 
         	click on the confirmation link inside the email.	
         </p>
         <p>
         	<a role="button" class="btn btn-primary btn-lg">Learn More</a>
         	<a role="button" class="btn btn-danger btn-lg">Resend Confirmation</a>
         </p>
      </div>
   </div>
	<div ng-include="'app/templates/views/partials/color_widgets.html'"></div>
	<div ng-include="'app/templates/views/partials/color_stats_widget.html'"></div>   
</div>
