<section class="mainbar" data-ng-init="vm.setFormFields()">

  <div class="panel panel-primary">
    <div class="panel-heading">
      New Order
    </div>
    <div class="panel-body">

      <form data-ng-submit="vm.create()" novalidate>

		<div class="form-group" ng-controller="SecuritiesSearchCtrl as ssc">
			<label class="control-label"> Security * </label> <input type="text"
				name="order[security_ticker]" ng-model="vm.order.security_ticker"
				class="text_field form-control"
				placeholder="Search using ticket, name, sector or asset class"
				typeahead="security.name for security in ssc.search($viewValue)"
				typeahead-loading="loadingSecurities" required
				typeahead-min-length="3"
				typeahead-on-select="vm.selectSecurity($item, $model, $label)">
			<i ng-show="loadingSecurities" class="glyphicon glyphicon-refresh"></i>
	
		</div>
		
        <formly-form model="vm.order" fields="vm.formFields" form="vm.form">
        </formly-form>

        <hr/>
        <div class="form-group">
            <button type="submit" class="btn btn-success" ng-disabled="vm.form.$invalid">
              <i class="glyphicon glyphicon-ok"></i> Save
            </button>
            <a class="btn btn-danger" ui-sref="app.listOrder()">
              <i class="glyphicon glyphicon-remove"></i> Cancel
            </a>
        </div>

        <div data-ng-show="vm.error" class="alert alert-danger form-group">
          <strong data-ng-bind="vm.error"></strong>
        </div>

      </form>

    </div>
  </div>

</section>
