<section class="mainbar" data-ng-init="vm.toEditOrder()">

  <div class="panel panel-primary">
    <div class="panel-heading">
      Order Edit
    </div>
    <div class="panel-body">

      <form data-ng-submit="vm.update()" novalidate>

		<div class="form-group">
			<label class="control-label"> Security * </label> 
			<input type="text" disabled="disabled"
				name="order[ticker]" ng-model="vm.order.ticker"
				class="text_field form-control">
		</div>
		
        <formly-form model="vm.order" fields="vm.formFields" form="vm.form">
        </formly-form>

        <hr/>
        <div class="form-group">
            <button type="submit" class="btn btn-success" ng-disabled="vm.form.$invalid">
              <i class="glyphicon glyphicon-ok"></i> Save
            </button>
            <a class="btn btn-danger" ui-sref="app.listOrder()">
              <i class="glyphicon glyphicon-remove"></i> Cancel
            </a>
        </div>

        <div data-ng-show="vm.error" class="alert alert-danger form-group">
          <strong data-ng-bind="vm.error"></strong>
        </div>

      </form>


    </div>
  </div>

</section>
