<section class="mainbar">

  <div class="panel panel-primary">
    <div class="panel-heading">
      Security List
    </div>
    <div class="panel-body">

      <div class="pull-right">
        <a type="button" class="btn btn-success" ui-sref="app.createSecurity()">
          <i class="glyphicon glyphicon-plus"></i> New Security
        </a>
      </div>

      <table ng-table="vm.tableParams" show-filter="true" class="table table-condensed table-striped">
          <tr ng-repeat="security in $data">
              <td data-title="'Name'" sortable="'name'" filter="{ 'name': 'text' }">{{security.name}}</td>
              <td data-title="'Ticker'" sortable="'ticker'" filter="{ 'ticker': 'text' }">{{security.ticker}}</td>
              <td data-title="'Price'" sortable="'price'" filter="{ 'price': 'text' }">{{security.price}}</td>
              <td data-title="'Asset Class'" sortable="'asset_class'" filter="{ 'asset_class': 'text' }">{{security.asset_class}}</td>
              <td data-title="'Sector'" sortable="'sector'" filter="{ 'sector': 'text' }">{{security.sector}}</td>
              <td data-title="'Region'" sortable="'region'" filter="{ 'region': 'text' }">{{security.region}}</td>
              <td>
                 <div class="table-actions">
                      <a class="btn btn-default" title="View" ui-sref="app.viewSecurity({securityId: security.id})">
                        <span class="glyphicon glyphicon-file"></span>
                      </a>
                      <a class="btn btn-default" title="Edit" ui-sref="app.editSecurity({securityId: security.id})">
                        <span class="glyphicon glyphicon-pencil"></span>
                      </a>
                      <a class="btn btn-danger" title="Remove" ng-really-message="Are you sure ?" ng-really-click="vm.remove(security)" item="security">
                        <span class="glyphicon glyphicon-trash"></span>
                      </a>
                  </div>
              </td>
          </tr>
      </table>

    </div>
  </div>

</section>
