<section class="mainbar">

  <div class="panel panel-primary">
    <div class="panel-heading">
      TriggeredEvent List
    </div>
    <div class="panel-body">

      <div class="pull-right">
        <a type="button" class="btn btn-success" ui-sref="app.createTriggeredEvent()">
          <i class="glyphicon glyphicon-open"></i> New TriggeredEvent
        </a>
      </div>

      <table ng-table="vm.tableParams" show-filter="true" class="table table-condensed table-striped">
          <tr ng-repeat="event in $data">
           
          	<td data-title="'Id'" sortable="'id'" filter="{ 'id': 'text' }">{{event.triggeredEvent.id}}</td>
            
          	<td data-title="'Name'" sortable="'name'" filter="{ 'name': 'text' }">{{event.marketEvent.name}}</td>
           
          	<td data-title="'Event_type'" sortable="'event_type'" filter="{ 'event_type': 'text' }">{{event.marketEvent.event_type}}</td>
           
          	<td data-title="'Summary'" sortable="'summary'" filter="{ 'summary': 'text' }">{{event.marketEvent.summary}}</td>

          	<td data-title="'Sent_to_sim'" sortable="'sent_to_sim'" filter="{ 'sent_to_sim': 'text' }">{{event.triggeredEvent.sent_to_sim}}</td>
          
   
              <td>
                 <div class="table-actions">
                      <a class="btn btn-danger" title="Send to Simulator" ng-really-message="Send to Simulator: Are you sure ?" ng-really-click="vm.sendToSimulator(event.triggeredEvent)" item="event.triggeredEvent">
                        <span class="glyphicon glyphicon-remove-circle"></span>
                      </a>
                  </div>
              </td>
          </tr>
      </table>

    </div>
  </div>

</section>
