<section class="mainbar">

  <div class="panel panel-primary">
    <div class="panel-heading">
      TriggeredEvent List
    </div>
    <div class="panel-body">

      <div class="pull-right">
        <a type="button" class="btn btn-success" ui-sref="app.createTriggeredEvent()">
          <i class="glyphicon glyphicon-open"></i> New TriggeredEvent
        </a>
      </div>

      <table ng-table="vm.tableParams" show-filter="true" class="table table-condensed table-striped">
          <tr ng-repeat="triggeredEvent in $data">
           
          	<td data-title="'Id'" sortable="'id'" filter="{ 'id': 'text' }">{{triggeredEvent.id}}</td>
           
          	<td data-title="'Market_event_id'" sortable="'market_event_id'" filter="{ 'market_event_id': 'text' }">{{triggeredEvent.market_event_id}}</td>
           
          	<td data-title="'Sent_to_sim'" sortable="'sent_to_sim'" filter="{ 'sent_to_sim': 'text' }">{{triggeredEvent.sent_to_sim}}</td>
          
   
              <td>
                 <div class="table-actions">
                      <a class="btn btn-default" title="View" ui-sref="app.viewTriggeredEvent({triggeredEventId: triggeredEvent.id})">
                        <span class="glyphicon glyphicon-file"></span>
                      </a>
                      <a class="btn btn-default" title="Edit" ui-sref="app.editTriggeredEvent({triggeredEventId: triggeredEvent.id})">
                        <span class="glyphicon glyphicon-pencil"></span>
                      </a>
                      <a class="btn btn-danger" title="Remove" ng-really-message="Are you sure ?" ng-really-click="vm.remove(triggeredEvent)" item="triggeredEvent">
                        <span class="glyphicon glyphicon-remove-circle"></span>
                      </a>
                  </div>
              </td>
          </tr>
      </table>

    </div>
  </div>

</section>
