<section class="mainbar">

  <div class="panel panel-primary">
    <div class="panel-heading">
      Customer List
    </div>
    <div class="panel-body">

      <div class="pull-right">
        <a type="button" class="btn btn-success" ui-sref="app.createCustomer()">
          <i class="glyphicon glyphicon-plus"></i> New Customer
        </a>
      </div>

      <table ng-table="vm.tableParams" show-filter="true" class="table table-condensed table-striped">
          <tr ng-repeat="customer in $data">
              <td data-title="'Name'" sortable="'name'" filter="{ 'name': 'text' }">{{customer.name}}</td>
              <td data-title="'Credit Rating'" sortable="'credit_rating'" filter="{'credit_rating': 'text'}">{{customer.credit_rating}}</td>
              <td data-title="'Bank'" sortable="'bank'" filter="{ 'bank': 'text' }">{{customer.bank}}</td>
              <td data-title="'Account Number'" sortable="'account_number'" filter="{ 'account_number': 'text' }">{{customer.account_number}}</td>
              <td>
                 <div class="table-actions">
                      <a class="btn btn-default" title="View" ui-sref="app.viewCustomer({customerId: customer.id})">
                        <span class="glyphicon glyphicon-eye-open"></span>
                      </a>
                      <a class="btn btn-default" title="Edit" ui-sref="app.editCustomer({customerId: customer.id})">
                        <span class="glyphicon glyphicon-edit"></span>
                      </a>
                      <a class="btn btn-danger" title="Remove" ng-really-message="Are you sure ?" ng-really-click="vm.remove(customer)" item="customer">
                        <span class="glyphicon glyphicon-remove-circle"></span>
                      </a>
                  </div>
              </td>
          </tr>
      </table>

    </div>
  </div>

</section>
