<div class="col-lg-3 col-md-6">
	<!-- START panel-->
	<div class="panel panel-primary">
		<div class="panel-heading">
			<div class="row">
				<div class="col-xs-3">
					<em class="icon icon-trophy fa-5x"></em>
				</div>
				<div class="col-xs-9 text-right">
					<div class="text-lg">26</div>
					<p class="m0">Teams Competing</p>
				</div>
			</div>
		</div>
		<a ui-sref="app.list_teams" class="panel-footer bg-gray-dark bt0 clearfix btn-block">
			<span class="pull-left">View Details</span> <span class="pull-right">
				<em class="fa fa-chevron-circle-right"></em>
		</span>
		</a>
		<!-- END panel-->
	</div>
</div>
<div class="col-lg-3 col-md-6">
	<!-- START panel-->
	<div class="panel panel-green">
		<div class="panel-heading">
			<div class="row">
				<div class="col-xs-3">
					<em class="fa fa-tasks fa-5x"></em>
				</div>
				<div class="col-xs-9 text-right">
					<div class="text-lg">12</div>
					<p class="m0">Trades Placed</p>
				</div>
			</div>
		</div>
		<a ui-sref="app.list_trades" class="panel-footer bg-gray-dark bt0 clearfix btn-block">
			<span class="pull-left">View Details</span> <span class="pull-right">
				<em class="fa fa-chevron-circle-right"></em>
		</span>
		</a>
	</div>
	<!-- END panel-->
</div>
<div class="col-lg-3 col-md-6">
	<!-- START panel-->
	<div class="panel panel-warning">
		<div class="panel-heading">
			<div class="row">
				<div class="col-xs-3">
					<em class="fa fa-dollar fa-5x"></em>
				</div>
				<div class="col-xs-9 text-right">
					<div class="text-lg">124</div>
					<p class="m0">Dollars Spent</p>
				</div>
			</div>
		</div>
		<a ui-sref="app.list_positions" class="panel-footer bg-gray-dark bt0 clearfix btn-block">
			<span class="pull-left">View Details</span> <span class="pull-right">
				<em class="fa fa-chevron-circle-right"></em>
		</span>
		</a>
	</div>
	<!-- END panel-->
</div>
<div class="col-lg-3 col-md-6">
	<!-- START panel-->
	<div class="panel panel-danger">
		<div class="panel-heading">
			<div class="row">
				<div class="col-xs-3">
					<em class="icon icon-users fa-5x"></em>
				</div>
				<div class="col-xs-9 text-right">
					<div class="text-lg">13</div>
					<p class="m0">Team Mates</p>
				</div>
			</div>
		</div>
		<a ui-sref="app.list_users" class="panel-footer bg-gray-dark bt0 clearfix btn-block">
			<span class="pull-left">View Details</span> <span class="pull-right">
				<em class="fa fa-chevron-circle-right"></em>
		</span>
		</a>
	</div>
	<!-- END panel-->
</div>