<div class="row">
   <div class="col-lg-4 col-md-6">
      <!-- START widget-->
      <div class="panel widget bg-success">
         <div class="row row-table">
            <div class="col-xs-4 text-center bg-success-dark pv-lg">
               <em class="icon-share fa-3x"></em>
            </div>
            <div class="col-xs-8 pv-lg">
               <div class="h1 m0 text-bold">150</div>
               <div class="text-uppercase">New Contests</div>
            </div>
         </div>
      </div>
   </div>
   <div class="col-lg-4 col-md-6">
      <!-- START widget-->
      <div class="panel widget bg-danger">
         <div class="row row-table">
            <div class="col-xs-4 text-center bg-danger-dark pv-lg">
               <em class="icon-star fa-3x"></em>
            </div>
            <div class="col-xs-8 pv-lg">
               <div class="h1 m0 text-bold">7000</div>
               <div class="text-uppercase">Positions</div>
            </div>
         </div>
      </div>
   </div>
   <div class="col-lg-4 col-md-12">
      <!-- START widget-->
      <div class="panel widget bg-warning">
         <div class="row row-table">
            <div class="col-xs-4 text-center bg-warning-dark pv-lg">
               <em class="icon-trophy fa-3x"></em>
            </div>
            <div class="col-xs-8 pv-lg">
               <div class="h1 m0 text-bold">10</div>
               <div class="text-uppercase">Winners</div>
            </div>
         </div>
      </div>
   </div>
</div>
<!-- END row-->